version: '2.4'

services:
    node1:
        environment:
            - NVIDIA_VISIBLE_DEVICES=0,1
        build:
            context: .
        shm_size: '16g'
        networks:
            backend:
                ipv4_address: 192.168.0.2
        ports:
            - "8000:8888"
        runtime: nvidia
    node2:
        environment:
            - NVIDIA_VISIBLE_DEVICES=2,3
        build:
            context: .
        shm_size: '16g'
        networks:
            backend:
                ipv4_address: 192.168.0.3
        ports:
            - "9000:8888"
        runtime: nvidia
networks:
    backend:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.0.0/24
